body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;    
}
p{
    font-size: 20px;
    color: #828282;
}
h1{
    font-size: 60px;
    color: #565656;
    line-height: 35px;
}   
/* =======Top Part Start ====== */
#top-part{
    background-color: #E5E5E5; 
}
.top-part-text{
    padding-top: 10%;
    margin-left: 5%;
}
.top-part-text h1{
    font-size: 70px;
    color: #565656;
    line-height: 35px;
}
h1 span{
    color: #0388f6;
}
.flexible-container{
    display: flex;
}
.top-part-text p{
    color: #828282;
    padding-bottom: 50px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;    
}
.order-food {
    text-decoration: none;
    padding: 30px 60px;
    background-image: linear-gradient(#0388f6,#14b8fb);
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50px;
}
/* =======Top Part End ====== */

/* =======About Us Start ====== */
#about-us{
    background-image: url(images/shapes/7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.about-img{
    width: 50%;
}
.about-img img{
    width: 50%;
    height: auto;
    padding-left: 20%;
    padding-top: 10%;
}
.about-text {
    width: 50%;
    padding-right: 10%;
    padding-top: 10%;
}
.about-text p{
    line-height: 40px;
}  
.contact-me-btn{
    text-decoration: none;
    padding: 30px 60px;
    background-image: linear-gradient(#0388f6,#14b8fb);
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 50px;
} 
/* =======About Us End ====== */

/* ====== my recipies part start ===== */
#my-recipie{
    text-align: center;
    margin: 100px 70px;
}
#my-recipie p{
    padding:0 40px;
    line-height: 40px;
}
.recipie-img{
    width: 80%;
    height: auto;
}
.recipie-item{
    border-radius: 0 20px 20px 0;
    box-shadow: 0 0 15px 5px #bebebe;
    margin: 30px;
    padding-top: 50px;
    width: 100%;
    border-left: 12px solid;
    border-image: linear-gradient(#00ebb8,#008fe2);
    border-image-slice: 1;
}
.recipie-item h2{
    text-align: left;
    padding:0 40px;
    text-transform: uppercase;
}
.recipie-item p{
    text-align: left;
    padding:0 40px;
    line-height: 40px;
}
/* ====== my recipies part END ===== */

/* ====== Cook Book Part Statr ==== */
#cook-book-part{
    background-color: #4d4d4d;
    padding: 100px 100px;
}
.cook-book-text{
    text-align: center;
}
.cook-book-img{
    text-align: center;
}
.cook-book-img img{
    width: 70%;
    align-items: center;
    
}
.cook-book-text h1{
    color: white;
    font-size: 40px;
    padding: 0;
    line-height: 0;
}
.cook-book-text h2{
    color: yellow;
    padding: 0;
}
.cook-book-text p{
    color: white;
    padding: 0 200px;
    line-height: 40px;
}
.sumbit-buttom{
    padding: 14px 20px;
    background-image: linear-gradient(#0388f6,#14b8fb);
    font-size: 15px;
    color: #ffffff;
    border-radius: 5px;
}
.type-name{
    padding: 15px 10px;
    font-size: 15px;
    border-radius: 5px;
}
.type-email{
    padding: 15px 10px;
    font-size: 15px;
    border-radius: 5px;
}
/* ====== Cook Book Part End ==== */

/* ====== Social Part Start ===== */
.social-part{
    display: flex;
    margin: 100px 100px;
    padding: 50px 10px;
    box-shadow: 0 0 15px 5px #bebebe;
    border-radius: 20px;
}
.youtube {
    width: 33.33%;
    text-align: center;
}
.instagram{
    width: 33.33%;
    text-align: center;
}
.dribble{
    width: 33.33%;
    text-align: center;
}
/* ====== Social Part End ===== */

/* ==== footer part start ====  */
footer{
    background-color: #000000;
    padding: 100px 0;
}
footer span{
    color: #0388f6;
}
footer h2{
    color: #5b5b5b;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 30px;
}
footer p{
    color: #ffffff;
    text-align: center;
}
/* ==== footer part end ====  */